{% extends "base.html" %}
 
{% block content %}
    <h1>Добавление комнаты</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.roomname.label }}<br>
            {{ form.roomname }}<br>
            {% for error in form.roomname.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.roomcount.label }}<br>
            {{ form.roomcount }}<br>
            {% for error in form.roomcount.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}