{% extends "base.html" %}

{% block content %}
    <h1>Фильмы</h1>
    <form action="" method="post" novalidate>
        <div class="alert alert-light" role="alert">
        <a class="btn btn-primary" href="/add_film/{{room_id}}/{{cinema_id}}">Добавить фильм</a>
        <a class="btn btn-primary" href="/rooms/{{cinema_id}}">Вернуться в зал</a>
        </div>
{% for item in films %}
    <div class="alert alert-dark" role="alert">
        <h2>{{item[1]}}</h2>
        <div>{{item[2]}}</div>
        <a class="btn btn-primary" href="/delete_film/{{item[0]}}/{{room_id}}">Удалить фильм</a>
        <a class="btn btn-primary" href="/show/{{item[0]}}">Посмотреть фильм</a>
    </div>
{% endfor %}
    </form>
{% endblock %}