<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привет, {{username}}!</title>
</head>
<body>
    <div class="alert alert-dark" role="alert">
        <h2>Рада видеть тебя в своем приложении "Кинотеатр"!</h2>
        <p>Здесь ты можешь создать свою собственную сеть кинотеатров.</p>
        <p>Функции, которые доступны уже сейчас:</p>
        <p>-создавать кинотеатры</p>
        <p>-создавать комнаты в кинотеатрах</p>
        <p>-вставлять неограниченное количество видео с видеохостинга Youtube и не только)</p>
    </div>
</body>
</html>