{% extends "base.html" %}
 
{% block content %}
    <h1>Регистрация</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>

            <div class="alert alert-danger" role="alert">
                {{ usernameerror }}
            </div>

        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>

            <div class="alert alert-danger" role="alert">
                {{ passworderror }}
            </div>

        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email }}<br>
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}